.header {
  display: grid;
  height: 293px;
  place-content: center;
  place-items: center start;
  grid-template-columns: 1fr min-content 1fr;
  padding: 50px;
  font-size: 18px;
}

.header__menu-links {
  display: flex;
  flex-flow: row nowrap;
  gap: 13px;
  list-style: circle;
  list-style-position: inside;
}

.header__menu-item--active {
  list-style: none;
}

.header__menu-link {
  text-transform: lowercase;
}

.header__menu-link--active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
}
.header__logo-image {
  display: block;
}

.header__contacts {
  width: 240px;
  line-height: 24.3px;
  place-self: center end;
}

